
body .container .header, body .container .footer {
    background-color:blue;
    color: white;
    padding: 25px;
    margin: 5px;
    clear: left;
}
    

body .container .content{
    margin: 25px;
    border: 1px solid black;
    padding: 25px;
    align-content: center;
}

    
