body {
    background-color: powderblue;
    margin: 10% 30%;
    }

body .container-fluid .content form {
    background-color: #067AE7;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 25px;
}

