<!DOCTYPE html>
<htmllang="en">
    
    <head>
        <title>shopping list</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}" />
            <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}" /> -->
            <style>
            

            body .container-fluid .header, body .container-fluid .footer {
            background-color:blue;
            color: white;
            padding: 25px;
            margin: 5px;
            clear: left;
            }
        
    
            body .container-fluid .content{
            margin: 25px;
            border: 1px solid black;
            padding: 25px;
            align-content: center;
            min-height: 450px;
            overflow: hidden;
            }
    
            </style>
            <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </head>

    <body> 
        <div class="container-fluid">
            <div class="header">
                <div class="row">
                        <div class="col-md-10">
                            <h1>Welcome to shopping list tracker</h1>
                        </div>
                        <div class="col-md-2">
                            <a href="/logout">
                                <button type="button" name="button" style="float:right">Sign Out</button>
                            </a>       
                        </div>
                    </div>
            </div>

            
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <h1>My shopping lists:</h1>
                        <form action="/shop_list" method="post">
                            <div class="form-group">
                                    <label for="create">Create a new list:*</label>
                                    <input type="text" placeholder="Name of the new shopping list" class="form-control" id="create" name="listname" required>
                            </div>
                            <input type="submit" value="Create" style="float: right"/>
                        </form>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-12">
                        {% if shopping_list %}
                        <ol>
                            {% for item in shopping_list  %}
                            <li>
                                <h3><a href="">{{ item.listname }}</a></h3>
                                <a href="/">
                                    <button type="button" name="button">Update</button>
                                </a>
                                <a href="/del_shop_list">
                                    <button type="button" name="button">Delete</button>
                                </a>
                            </li>
                            {% endfor %}
                        </ol>  
                        {% endif %}
    
                    </div>
                </div>
            </div>
            

            <div class="footer">
                <div class="row">
                    <div class="col-md-12">
                            Copyright &copy; Betty
                    </div>
                </div>

            </div>
            
                    
        </div>
        
    </body> 

    

            
    
    
    </html>
    