<html>
    
    <head>
    <title>shopping list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}" />
    
    </head>
    

    <body> 
        <div class="container">
                <header>
                       <h1>
                           Welcome to shopping list tracker
                            <a href="/logout">
                                <button type="button" name="button" style="float:right">Sign Out</button>
                            </a>
                        </h1> 
                    
                </header>      
            
                <nav>
                        
                    <h1>My shopping lists:</h1>
                        {% if shopping_list %}
                        <ol>
                            {% for item in shopping_list  %}
                            <li>
                                <h3>{{ item.listname }}</h3>
                                <a href="/">
                                    <button type="button" name="button">Update</button>
                                </a>
                                <a href="/del_shop_list">
                                    <button type="button" name="button">Delete</button>
                                </a>
                            </li>
                            {% endfor %}
                        </ol>
                            
                        {% endif %}
                        <p>Create a new list:</p>
                        <form action="/shop_list" method="POST">
                            Shopping_list Name:*
                            <input type="text" name="listname" required><br>
                            <input type="submit" value="Create">
                        </form>
                    
                </nav>
                    
                <article>
                        
                    <p>Items in the shopping list 1:</p>
                    <ol>
                        <li>Item 1
                        <input type="button" onclick="" value="Delete">
                        <input type="button" onclick="" value="Update">
                        </li>
        
                        <li>Item 2
                        <input type="button" onclick="" value="Delete">
                        <input type="button" onclick="" value="Update">
                        </li>

                        <li>Item 3
                        <input type="button" onclick="" value="Delete">
                        <input type="button" onclick="" value="Update">
                        </li>

                    </ol>
                    <a href="/shopping_items">
                        <button type="button" name="button">Add item to the shopping list</button>
                    </a>
                    
                    
                </article>
        </div>
        
    </body> 

    <footer>
        Copyright &copy; Betty
    </footer>

            
    
    
    </html>
    