{% extends "layout.html" %}
{% block title %}shopping Items{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}" />
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-md-10">
        <h1>Welcome to shopping list tracker</h1>
        <p>Let's help you keep tracking of your shopping lists.</p>
    </div>
    <div class="col-md-2">
        <a href="/logout">
            <button type="button" name="button" style="float:right">Sign Out</button>
        </a>       
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="/view_lists" method="post">
            <div class="form-group">
                <input type="submit" value="Go back to the shopping lists"/>  
            </div>
        </form>
        <h1>My shopping items in this shopping list are:</h1>
        <div class="row">
            <div class="col-md-3"><b>Item Name</b></div>
            <div class="col-md-3"><b>Quantity</b></div>
            <div class="col-md-3"><b>Price</b></div>
            <div class="col-md-3"><b>Actions</b></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% if shopping_list %}
                <ol>
                    {% for item in shopping_list  %}
                    {% if item.created_by == session.get('email')  %}
                    {% if item.list_id == session.get('list_id')%}
                    {% for i in item.shopping_items %}
                    <li>
                        <div class="row">
                            <div class="col-md-3"><p>{{ i.itemname }}</p></div>
                            <div class="col-md-3"><p>{{ i.quantity }}</p></div>
                            <div class="col-md-3"><p>{{ i.price }}</p></div>
                            <div class="col-md-3">
                                    <a href="/edit_item/{{ i.item_id }}" class="btn btn-primary update_item"
                                    data-toggle="modal" data-target="#{{ i.item_id }}myModal">Update</a>
                                    <a href="/del_item/{{ i.item_id }}" class="btn btn-primary delete_item">Delete</a>
                            </div>
                        </div>
                        <div id="{{ i.item_id }}myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/edit_item/{{ i.item_id }}">
                                            New Item name:
                                            <input type="text"  class="form-control" name="newitemname" 
                                            pattern="^[A-Za-z_-]+( +[A-Za-z_-]+)*{3}$"
                                            title="Input should only contain letters, underscores, hyphen and spaces: 3 being the min lenght" required>
                                            New Quantity:
                                            <input type="text"  class="form-control" name="newquantity" 
                                            pattern="([0-9]+)*{10}" title="Input should only contain digits" required>
                                            New Price:
                                            <input type="text"  class="form-control" name="newprice" 
                                            pattern="([0-9]+)*{10}" title="Input should only contain digits" required>
                                            <button type="submit" class="btn btn-success">Edit</button>
                                        </form> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ol>  
                {% endif %}
            </div>
        </div>
        <form method="POST" action="{{ url_for('add_item')}}">
        {{form.csrf_token}}
        <div class="row">
            <div class="col-md-3">{{form.itemname.label}}</div>
            <div class="col-md-3">{{form.quantity.label}}</div>
            <div class="col-md-3">{{form.price.label}}</div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
                <div class="col-md-3">{{form.itemname(placeholder="Name: a word (letters,digits,spaces, min-length: 3)", class="form-control", id="create", value="")}}</div>
                <div class="col-md-3">{{form.quantity(placeholder="Quantity: a digit", class="form-control", id="quantity", value="")}}</div>
                <div class="col-md-3">{{form.price(placeholder="Price: a digit", class="form-control", id="price", value="")}}</div>
                <div class="col-md-3">{{form.submit(class="btn btn-success")}}</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
&copy; Copyright 2017 by Betty.
{% endblock %}