{% extends "layout.html" %}
{% block title %}Signin to your shopping list account{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
{% endblock %}

{% block header %}
<div class="header">
    <div class="row">
        <div class="col-md-12">
            <h6>Please enter your details to sign in into your 'shopping list account'.</h6>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('signin')}}">
        {{form.csrf_token}}
        {{form.email.label}} {{form.email(placeholder="Email", class="form-control", id="email")}}
        {{form.password.label}}{{form.password(placeholder="Password", class="form-control", id="password")}}
        {{form.submit(class="btn btn-success", style="float:right")}}
        </form>
        <br><br>
        <h6>Don't have an account? <a href="/signup">Sign Up</a></h6>
    </div>
</div>
{% endblock %}
