<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signin to your shopping list account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>   
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <div class="row">
                <div class="col-md-12">
                    <p><b>Please enter your details to sign in into your 'shopping list account'.</b></p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email:*</label>
                            <input type="email" placeholder="Email" class="form-control" id="email" name="email" required>
                            <label for="password">Password:*</label>
                            <input type="password" placeholder="Password" class="form-control" id="password" name="psw" required>
                            <button type="submit" class="btn btn-success" style="float:right">Sign In</button>
                        </div>
                    </form>
                    <br><br>
                    <p><b>Don't have an account? <a href="/signup">Sign Up</a></b></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
