{% extends "layout.html" %}
{% block title %}Signup for a shopping list account{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
{% endblock %}

{% block header %}
<div class="header">
    <div class="row">
        <div class="col-md-12">
            <h6>Please fill in the form below to signup:</h6>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('signup')}}">
        {{form.csrf_token}}
        {{form.firstname.label}} {{form.firstname(placeholder="Firstname", class="form-control", id="firstname")}}
        {{form.lastname.label}} {{form.lastname(placeholder="Lastname", class="form-control", id="lastname")}}
        {{form.username.label}} {{form.username(placeholder="Username", class="form-control", id="username")}}
        {{form.email.label}} {{form.email(placeholder="Email", class="form-control", id="email")}}
        {{form.password.label}} {{form.password(placeholder="Password", class="form-control", id="password")}}
        {{form.con_password.label}} {{form.con_password(placeholder="Password", class="form-control", id="password")}}
        {{form.submit(class="btn btn-success", style="float:right")}}
        </form>
        <br><br>
        <h6>Are you already signed up? If so, <a href="/login">Sign In</a></h6>
    </div>
</div>
{% endblock %}
